/* the vignette effect */
html {
	min-height: 100%;
	box-shadow: 0 0 175px rgba(0,0,0,0.9) inset;
	overflow-y: scroll;
	background-color: #ffffef;
}

.canvas-wrapper {
	height: 100%;
	width: 100%;
}

canvas {
	z-index: -10;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

li {
	text-align: left;
	font-family: 'Share Tech Mono', monospace;
}

/* header styling */
h3, h4, h5, h6 {
	color: #ffab91;
	font-family: 'Share Tech Mono', monospace;
}

a {
	color: #03a9f4;
	
	-o-transition:.25s;
	-ms-transition:.25s;
	-moz-transition:.25s;
	-webkit-transition:.25s;
	transition:.25s;
}
a:hover {
	color: #01547a;
}

hr {
	color: #EFEFEF
}

blockquote {
	background-color: #DFDFDF;
	color: #5F5F5F;
	font-family: monospace;
	text-align: left;
}

.footer {
	position: fixed;
	right: 2em;
	bottom: 1em;
}
.footer p {
	color: #030303;
}

/* upper spacing */
.container {
	margin-top: 175px;
}

/* change color of paragraphs to grey */
p {
	color: #707070;
	font-family: 'Share Tech Mono', monospace;
}

/* pretty sure this isn't needed anymore. it lines up material icons with text */
.link {
	display: inline-flex;
	vertical-align: middle;
	margin: 20px;
}

.fade-in-wrapper {
	opacity: 1;
	animation: fadein 0.5s;
	-moz-animation: fadein 0.5s; /* Firefox */
	-webkit-animation: fadein 0.5s; /* Safari and Chrome */
	-o-animation: fadein 0.5s; /* Opera */
}
@keyframes fadein {
	from { opacity:0; }
	to { opacity:1; }
}
@-moz-keyframes fadein { /* Firefox */
	from { opacity:0; }
	to { opacity:1; }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
	from { opacity:0; }
	to { opacity:1; }
}
@-o-keyframes fadein { /* Opera */
	from { opacity:0; }
	to { opacity:1; }
}

.fade-out-wrapper {
	opacity: 0;
	animation: fadeout 0.5s;
	-moz-animation: fadeout 0.5s; /* Firefox */
	-webkit-animation: fadeout 0.5s; /* Safari and Chrome */
	-o-animation: fadeout 0.5s; /* Opera */
}
@keyframes fadeout {
	from { opacity:1; }
	to { opacity:0; }
}
@-moz-keyframes fadeout { /* Firefox */
	from { opacity:1; }
	to { opacity:0; }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
	from { opacity:1; }
	to { opacity:0; }
}
@-o-keyframes fadeout { /* Opera */
	from { opacity:1; }
	to { opacity:0; }
}

.blink-link-wrapper {
	animation: blink-link 0.5s;
	-webket-animation: blink-link 0.5s;
	-o-animation: blink-link 0.5s;
}
@keyframes blink-link {
	from ( background-color: 03a9f4; }
	to { background-color: #FF0F0F; }
}
@-moz-keyframes blink-link {
	from (background-color : #a23aj }
	to { background-color: #FF0F0F; }
}
-webkit-keyframes blink-link {
	from (background-color : #a23aj }
	to { background-color: #FF0F0F; }
	
}
-o-keyframes blink-link {
	from (background-color : #a23aj }
	to { background-color: #FF0F0F; }
}
	